/* All Global Css Start */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
.container {
  width: 1320px;
  margin: 0 auto;
}
/* All Global Css End */

/* Header Part Start */
#headerPart {
  background: #3c0486;
  padding: 30px 0;
}

.flexHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuList ul li {
  display: inline-block;
}
.menuList ul li a {
  font-family: "Raleway", serif;
  color: aliceblue;
  padding: 0 15px;
}
/* Header Part End */

/* Banner Part Start */
#bannerPart {
  background: #3c0486;
  padding-top: 150px;
}

.flexBanner {
  display: flex;
  justify-content: space-between;
}

.bannerContentText{
    padding: 38px 65px 0 35px;
    font-family: "Raleway", serif;
}
.bannerContentText h1{
    line-height: 67px;
    font-size: 58px;
    color: #fff;
    padding-bottom: 10px;
}
.bannerContentText p{
    font-size: 22px;
    color: #fff;
    padding-bottom: 10px;
    line-height: 32px;
}
.bannerContentText a{
    padding: 20px 40px;
    background: orange;
    color: #fff;
    border-radius: 5px;
    font-family: "Raleway", serif;
    font-weight: bold;
}
/* Banner Part End */


/* Body Part One Start */
.flexBodyPartOne{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 58px;
}

.textOne{
    color: #3c0486;
    font-family: "Raleway", serif;
}
.textOne strong{
    line-height: 32px;
    font-size: 35px;
}
.textOne p{
    line-height: 42px;
    font-size: 28px;
}


.textTwo{
    color: #000000;
    font-family: "Raleway", serif;
}
.textTwo p{
    line-height: 32px;
}
.textTwo strong{
    color: #3c0486;
}
/* Body Part One End */