/* All Global Css Start */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
.container {
  width: 1320px;
  margin: 0 auto;
}
/* All Global Css End */

/* Header Part Start */
#headerPart {
  background: #3c0486;
  padding: 30px 0;
}

.flexHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuList ul li {
  display: inline-block;
}
.menuList ul li a {
  font-family: "Raleway", serif;
  color: aliceblue;
  padding: 0 15px;
}
/* Header Part End */

/* Banner Part Start */
#bannerPart {
  background: #3c0486;
  padding-top: 150px;
}

.flexBanner {
  display: flex;
  justify-content: space-between;
}

.bannerContentText{
    padding: 38px 65px 0 35px;
    font-family: "Raleway", serif;
}
.bannerContentText h1{
    line-height: 67px;
    font-size: 58px;
    color: #fff;
    padding-bottom: 10px;
}
.bannerContentText p{
    font-size: 22px;
    color: #fff;
    padding-bottom: 10px;
    line-height: 32px;
}
.bannerContentText a{
    padding: 20px 40px;
    background: orange;
    color: #fff;
    border-radius: 5px;
    font-family: "Raleway", serif;
    font-weight: bold;
}
/* Banner Part End */


/* Body Part One Start */
.flexBodyPartOne{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 58px;
}

.textOne{
    color: #3c0486;
    font-family: "Raleway", serif;
}
.textOne strong{
    line-height: 32px;
    font-size: 35px;
}
.textOne p{
    line-height: 42px;
    font-size: 28px;
}

.textTwo{
    color: #000000;
    font-family: "Raleway", serif;
}
.textTwo p{
    line-height: 32px;
}
.textTwo strong{
    color: #3c0486;
}
/* Body Part One End */


/* Body Layout Part Two Start */
#bodyLayoutTwo{
    background: url(../images/Image+Background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.flexLayoutTwo{
    display: flex;
    align-items: end;
    column-gap: 80px;
    padding-top: 94px;
}

.textAndImage p{
    color: #fff;
    line-height: 22px;
    font-family: "Raleway", serif;
}
.textAndImage p{
    font-size: 22px;
    line-height: 32px;
}
.textAndImage span{
    font-size: 38px;
    line-height: 42px;
}
.textAndImage strong{
    font-size: 48px;
    line-height: 42px;
}

.flexlayoutTwoCards div{
    display: inline-flex;
    padding-bottom: 40px;
}
.card1{
    padding: 18px 30px 0 30px;
    text-align: center;
}
.card1 p{
    font-family: "Raleway", serif;
    line-height: 30px;
    color: #fff;
}

.card2{
    padding: 18px 30px 0 30px;
    text-align: center;
}
.card2 p{
    font-family: "Raleway", serif;
    line-height: 30px;
    color: #fff;
}


.card3{
    padding: 18px 30px 0 30px;
    text-align: center;
}
.card3 p{
    font-family: "Raleway", serif;
    line-height: 30px;
    color: #fff;
}


.card4{
    padding: 18px 30px 0 30px;
    text-align: center;
}
.card4 p{
    font-family: "Raleway", serif;
    line-height: 30px;
    color: #fff;
}


.card5{
    padding: 18px 30px 0 30px;
    text-align: center;
}
.card5 p{
    font-family: "Raleway", serif;
    line-height: 30px;
    color: #fff;
}


.card6{
    padding: 18px 30px 0 30px;
    text-align: center;
}
.card6 p{
    font-family: "Raleway", serif;
    line-height: 30px;
    color: #fff;
}
/* Body Layout Part Two End */


/* Body Layout Part Three Start */
#bodyPartThree{
    padding-top: 98px;
    padding-bottom: 80px;
}


p .paraEdit{
    font-family: "Raleway", serif;
    color: #3c0486;
    font-size: 22px;
}

.bodyPartTheeText p{
    font-family: "Raleway", serif;
    color: #3c0486;
    font-size: 40px;
    line-height: 42px;
}


.flexBodyPartThreeCards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
}
/* Body Layout Part Three End */

/* Body Layout Part Four Start */
#partFourLayout{
    background: url(../images/layoutFour.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 134px;
    padding-bottom: 122px;
}

.textPartThree p, span{
    color: #F3F1D8;
    font-family: "Raleway", serif;
}
.textPartThree p{
    font-size: 28px;
}
.textPartThree span{
    font-size: 48px;
}

.flexiconPart{
    display: flex;
    align-items: center;
    padding-top: 46px;
}

.cardPartThree1{
    padding: 18px 30px 0 30px;
    text-align: center;
    font-family: "Raleway", serif;
}
.cardPartThree1 p{
    color: #F3F1D8;
    padding: 18px 30px 0 30px;
    text-align: center;
    line-height: 28px;
}
.cardPartThree1 h1{
    color: #F3F1D8;
    padding: 18px 30px 0 30px;
    text-align: center;
    font-size: 53px;
}
/* Body Layout Part Four End */



/* Body Layout Part Five Start */
#layoutPartFive{
    padding-top: 99px;
    padding-bottom: 92px;
}
.flexlayoutFive{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fiveTextContent{
    width: 50%;
    color: #3c0486;
    font-family: "Raleway", serif;
}
.fiveTextContent h4{
    font-size: 48px;
    line-height: 55px;
    
}
.fiveTextContent h5{
    font-size: 22px; 
}
.fiveTextContent p{
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 10px;
}
/* Body Layout Part Five End */